<?xml version="1.0" encoding="utf-8"?>
<!--
	Copyright (C) 2011  naikon, wexoo
	android@geekosphere.org
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	 
	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="11"
	android:versionName="1.0.5" package="net.ausgstecktis">
	
	<uses-sdk
	    android:minSdkVersion="7"
	    android:targetSdkVersion="15" />
	
	<uses-permission 
		android:name="android.permission.INTERNET" />
	<uses-permission 
		android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission 
		android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- <uses-permission 
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

	<application
		android:name=".ui.HeurigenApp"
		android:label="@string/app_name"
	    android:icon="@drawable/ic_launcher"
	    android:debuggable="true">

	    <activity 
	        android:name=".ui.SplashScreenActivity"
	        android:configChanges="orientation"
            android:theme="@style/Theme.HeurigenSched"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
	    
		<activity
			android:name=".ui.HomeActivity"
			android:theme="@style/Theme.HeurigenSched"
			android:label="@string/app_name">
		</activity>
        
		<activity
			android:name=".ui.TodayActivity"
			android:configChanges="orientation"
			android:theme="@style/Theme.HeurigenSched"
			android:label="@string/title_today" />
			
		<activity
			android:name=".ui.TodaySearchActivity"
			android:configChanges="orientation"
			android:theme="@style/Theme.HeurigenSched"
			android:label="@string/title_today" />
       
        <activity
           android:name=".ui.FavoritesActivity"
           android:configChanges="orientation"
           android:theme="@style/Theme.HeurigenSched"
           android:label="@string/title_favorite" />
           
        <activity
           android:name=".ui.HeurigenMapActivity"
           android:configChanges="orientation"
           android:theme="@style/Theme.HeurigenSched"
           android:label="@string/title_map" />
        
        <activity
           android:name=".ui.PreferencesActivity"
           android:configChanges="orientation"
           android:theme="@style/Theme.HeurigenSched"
           android:label="@string/title_preferences"/>
         
		<activity
           android:name=".ui.InfoActivity"
           android:configChanges="orientation"
           android:theme="@style/Theme.HeurigenSched"
           android:label="@string/title_info" />
            
		<activity
		   android:name=".ui.search.SearchActivity"
		   android:theme="@style/Theme.HeurigenSched"
		   android:label="@string/title_search" />
		   
		<activity
		   android:name=".ui.ResultActivity"
		   android:configChanges="orientation"
		   android:theme="@style/Theme.HeurigenSched"
		   android:label="@string/title_result" />
           
   	 	<activity 
   	 		android:name=".ui.DetailActivity"
   	 		android:configChanges="orientation"
   	 		android:theme="@style/Theme.HeurigenSched"
   	 		android:label="@string/l_detail" />
            
        <activity 
   	 		android:name=".ui.SurroundingsActivity"
   	 		android:configChanges="orientation"
   	 		android:theme="@style/Theme.HeurigenSched"
   	 		android:label="@string/title_surronding" />
   	 		
   	 	<activity 
   	 		android:name=".ui.MapActivity"
   	 		android:configChanges="orientation"
   	 		android:theme="@style/Theme.HeurigenSched"
   	 		android:label="@string/title_map" />
   	 		
   	 	<uses-library android:name="com.google.android.maps" />
	
	</application>
</manifest>